<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Date Select Demo</title>
  <script src="/bower_components/moment/moment.js"></script>
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/src/date-select.js"></script>
  <script>
    angular.module('app', ['dateSelect']).
      controller('Controller', function ($scope) {
        $scope.obj = {
          date1: '1993-07-03',
          date2: null,
        }
      });
  </script>
  <style>
    body, input {
      font-family: Arial, sans-serif;
      font-size: 13px;
    }
  </style>
</head>
<body ng-app="app">
  <div ng-controller="Controller">
    <form novalidate name="form">
      <label>Date 1:</label>
      <div date-select ng-model="obj.date1"></div>
      <br>
      <label>Date 2 (must be between May 10th 2001 &amp; November 24th 2008):</label>
      <div date-select min="2001-05-10" max="2008-11-24" ng-model="obj.date2"></div>
      <br>
      <pre>
Date 1: {{obj.date1}}
Date 2: {{obj.date2}}
      </pre>
    </form>
  </div>
</body>
</html>
