<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Date Select Demo</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
</head>
<body ng-app="app">
  <div class="container" ng-controller="Controller">
    <h1>Date Select Example</h1>
    <div class="row">
      <form class="col-md-6" novalidate name="form">
        <div class="form-group">
          <label>Date 1</label>
          <div date-select ng-model="obj.date1"></div>
        </div>
        <div class="form-group">
          <label>Date 2</label>
          <div date-select min="2001-05-10" max="2008-11-24" ng-model="obj.date2"></div>
          <div class="help-block">Must be between May 10th 2001 &amp; November 24th 2008</div>
        </div>
      </form>
      <div class="col-md-6">
        <h3>Scope</h3>
        <pre>
  Date 1: {{obj.date1}}
  Date 2: {{obj.date2}}
        </pre>
      </div>
    </div>
  </div>
  
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.5.1/moment.js"></script>
  <script>window.moment || document.write('<script src="/bower_components/moment/moment.js"><\/script>')</script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
  <script>window.angular || document.write('<script src="/bower_components/angular/angular.js"><\/script>')</script>
  <script src="src/date-select.js"></script>
  <script>
    angular.module('app', ['dateSelect']).
      controller('Controller', function ($scope) {
        $scope.obj = {
          date1: '1993-07-03',
          date2: null,
        }
      });
  </script>
</body>
</html>
